<body>
    <div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

        <div id="menu" align="center" >
        <img src="../../assets/L7.png" height="200px" width="500px">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
            Since 1991 Premier Hotels & Resorts has built a fine reputation for offering luxury hotels and conference venues carefully situated in the mainstream of regional business and travel destinations in South Africa.
            Premier Hotels & Resorts was established when current Managing Director Sam Nassimov purchased an old hotel in East London in the Eastern Cape, with a view to turning it into a boutique establishment. Offering discerning clients a home away from home, the first branded Premier Hotel was born.
            From a humble 40 bedrooms, Premier Hotels & Resorts’ portfolio has grown to encompass 16 hotels and resorts throughout the country, offering nearly 2 000 bedrooms and providing employment opportunities to over 1500 passionate members of staff.
            As an award-winning hospitality company with more than 25 years’ experience developing and managing hotels, conference centres, boutique concept hotels and restaurants, Premier Hotels & Resorts has a proven reputation for delivering superior results through forward focused ingenuity and exceptional asset management.
            Premier Hotels & Resorts’ is set to continue its national expansion into hotel property development and management, providing operational expertise to steer hospitality ventures and developing partnerships that enable consumers to experience superior guest services.
        </p>
        <br>
        <br>
        <br>
        <br>
        
        <h2 style="color :indianred">Contact Details</h2>
        <p>Central Reservations:</p>
        <p>0112345670</p>
        <p>janetzango@gmail.com</p>
        <br>
        <h2 style="color :indianred">For Reservations:</h2>
        <p>0112345670</p>
        </div>
        
</body>

