<body>
        <div>
                <h1 style="color :rgb(110,58,3)">Bedroom available</h1>
                <div>
                        <marquee bahavior="scroll" direction="right">
                                <img src="../../assets/fd.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/five.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/gv.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/hb.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/jn.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/kl.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/star.jpg" style="width:450px" height="400px">
                                </marquee>
                </div>
                <br>
                <h1 style="color :rgb(110,58,3)">two single beds</h1>  
                <div>
                        <marquee bahavior="scroll" direction="left">
                                <img src="../../assets/aw.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/yt.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/tg.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/ol.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/cf.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                        </marquee>
                </div>
                <br>
                <h1 style="color :rgb(110,58,3)">Romantic suites</h1>  
                <div>
                        <marquee bahavior="scroll" direction="right">
                                <img src="../../assets/4.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/hv.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/c8.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                                <img src="../../assets/n0.jpg" style="width:450px" height="400px">&#160;&#160;&#160;&#160;
                        </marquee>
                </div>

                </div>
</body>
