<body>
        <div>
                <h1 style="color:rgb(110,58,3)">Bedroom suites avalible</h1>
                <img src="../../assets/dx.jpg" height="350px" width="550px">&#160;
                <a routerLink="/display-bookings" >book now</a>
                <br>
                <div class="image">
                <img src="../../assets/fd.jpg" height="350px" width="550px">&#160;
                <a routerLink="/display-bookings" >book now</a>
                </div>
               
                <br>
                <img src="../../assets/five.jpg" height="350px" width="550px">&#160;
                <a routerLink="/display-bookings" >book now</a>
                <br>
                <div class="pic">
                        <img src="../../assets/kl.jpg" height="350px" width="550px">&#160;
                        <a routerLink="/display-bookings" >book now</a>
                        <br>
                </div>
              
                <br>
                <img src="../../assets/jn.jpg" height="350px" width="550px">&#160;
                <a routerLink="/display-bookings" >book now</a>
                <br>
                <div class="pic">
                        <img src="../../assets/star.jpg" height="350px" width="550px">&#160;
                        <a routerLink="/display-bookings" >book now</a>
                        <br>
                </div>
              
                <br>
                <img src="../../assets/Nobu.jpg" height="350px" width="550px">&#160;
                <a routerLink="/display-bookings" >book now</a>
                <br>
                <div class="pic">
                        <img src="../../assets/km.jpg" height="350px" width="550px">&#160;
                        <a routerLink="/display-bookings" >book now</a>
                        <br>
                </div>
                </div>
</body>
<a routerLink="/double-beds" >check here to view th Single Twin Bed room</a>
