<body>
  <div>
    <h1 sytle="color:rgb(110,58,3)">Single Twin Bed room</h1>
    <div>
      <img src="../../assets/yt.jpg" height="350px" width="550px">&#160;
     <a routerLink="/booking-template">Book now</a>
    </div>
    <div class="pic" >
      <img src="../../assets/ze.jpg" height="350px" width="550px">&#160;
      <a routerLink="/booking-template">Book now</a>
    </div>
    <div>
      <img src="../../assets/tg.jpg" height="350px" width="550px">&#160;
      <a routerLink="/booking-template">Book now</a>
    </div>
    <div class="pic">
      <img src="../../assets/ol.jpg" height="350px" width="550px">&#160;
      <a routerLink="/booking-template">Book now</a>
    </div>
  
  </div>
</body>
