<body>
    <br>
    <br>
<div id="menu" align="center">
    <img src="../../assets/v.jpg" height="400px" width="500px"> 
</div>  
<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="font">
<h1 style="color :indianred">Mission</h1>
<p>We are the preferred destination of choice offering professional, personalised, flexible hospitality and service to the discerning business and leisure market. </p>
<br>
<br>
<h1 style="color :indianred">Vission</h1>
<p>Premier Hotels & Resorts. Recognised as unique in the industry for fulfilling their promise “Where guests become friends“.</p>
<br>
<br>
<h1 style="color :indianred">Values</h1>
<p>We are a professional, passionate, caring and empowering company that encourages innovation and engagement. We are a learning organisation committed to the retention and development of our people as an essential part of building strong, respectful and enduring guest relationships. Our staff are motivated, friendly and obsessive about enhancing the guest experience through meeting and exceeding expectations for quality service.</p>

</div>
</body>