
body{
background-color:rgb(198,172,149, 0.5);
background-size:cover;
background-attachment: fixed;
height: 1800px;
width: 1500px;
margin: auto=0;

}

.font {
    font-size: xx-large;
    font-style :initial;
    color:black;
}

.font a{
color: black;

}


